@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right, #f1ffcf, #f8df82);
}
main{
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(150, 143, 117, 0.705); /*lado cima expande*/
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #9cd6c8;
    text-align: center;
    text-shadow: 1px 1px 2px #76a095;
}
h2{
    color: #e57c3a;
}
p{
    text-align: justify;
}